<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <% console.log(messages)%>
    <% messages.forEach(element => { %>
      <h3><%= element.user%></h3>
      <p><%= element.text%></p>
      <p><%= element.date%></p>
    <% }) %>
    <p>Welcome to <%= title %></p>
  </body>
</html>
